@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
@font-face {
  font-family: Tomatoes;
  src: url("/fonts/Tomatoes-O8L8.ttf");
}
html, body {
  background-color: #fbf1c7;
  padding: 0;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6, p, li {
  font-family: "Source Sans Pro";
  color: #3c3836;
}

article {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px;
}

article.projects {
  flex-direction: column;
}

article.skills {
  flex-direction: column;
}

article div {
  width: 50vw;
}

article.projects div {
  width: auto;
}

article.skills div {
  width: auto;
}

#skills_div {
  display: flex;
  flex-direction: row;
  background-color: #fbf1c7;
}

.list_div {
  background-color: #ebdbb2;
  padding: 20px;
  margin: 20px;
  outline: 2px solid #d5c4a1;
  border-radius: 20px;
}

#name_span {
  color: #cc243d;
}

h1 a {
  text-decoration: none;
}

h1 a:hover {
  transition: 0.5s;
  text-decoration: underline;
}

::placeholder {
  color: #3c3836;
  opacity: 0.95;
}

#contact_form {
  display: grid;
  grid-template-columns: 1fr, 1fr;
  grid-template-rows: 0.6fr 1.4fr;
  grid-gap: 20px;
  grid-template-areas: "name email" "message message";
}

#name_input {
  grid-area: name;
}

#email_input {
  grid-area: email;
}

#message_input {
  grid-area: message;
}

#contact_form input, #contact_form textarea {
  background-color: #ebdbb2;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #d5c4a1;
  color: #3c3836;
  outline: none;
}

#contact_form textarea {
  grid-column-start: 1;
  grid-column-end: 3;
}

#logo_background {
  background-color: #3c3836;
  width: 180px;
  height: 180px;
}

.logo_div {
  background-image: url("/assets/logo.jpg");
  width: 160px;
  height: 160px;
  margin: 10px;
}

.rounded {
  border-radius: 160px;
}

#darkmode_msg {
  font-family: "Tomatoes";
  position: absolute;
  right: 200px;
  top: 200px;
}

#darkmode_arrow {
  width: 50px;
  position: absolute;
  top: 170px;
  right: 230px;
}

.bgl {
  fill: #ebdbb2;
}

article.bgl {
  background-color: #ebdbb2;
}

svg.bg {
  fill: #fbf1c7;
  background-color: #ebdbb2;
}

article.bg {
  background-color: #fbf1c7;
}

#projects_span {
  color: #98971a;
}

#skills_span {
  color: #458588;
}

#projects_div {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 40px;
  width: auto;
}

.project_item {
  background-color: #fbf1c7;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
  border: 2px solid #d5c4a1;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.project_item:hover {
  transition: 0.5s ease-in-out;
  box-shadow: 10px 10px 20px #d5c4a1;
}

@media only screen and (max-width: 800px) {
  .mobile_hide {
    display: none;
  }

  article div, article.projects div {
    width: 90vw;
  }

  article {
    width: 100vw;
  }

  #projects_div {
    grid-template-columns: auto;
  }

  #skills_div {
    flex-direction: column;
  }
}
