@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

$bg: #fbf1c7;
$bgl: #ebdbb2;
$bgd: #d5c4a1;
$grey: #928374;
$fg: #3c3836;
$red: #cc243d;
$green: #98971a;
$blue: #458588;

html,body {
	background-color: $bg;
	padding:0;
	margin:0;
}

main {
	display: flex;
	flex-direction: column;
}

h1, h2, h3, h4, h5, h6, p {
	font-family: 'Source Sans Pro';
	color: $fg;
}

article {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding:40px;
}

article div {
	width: 50vw;
}

#name_span {
	color: $red;
}

h1 a {
	text-decoration: none;
}

h1 a:hover {
	transition: 0.5s;
	text-decoration: underline;
}

::placeholder {
	color: $bg;
	opacity: 0.95;
}

#contact_form input, #contact_form textarea {
	background-color: $fg;
	padding: 10px;
	margin: 5px;
	border-radius: 5px;
	color: $bg;
	outline:none;
}

#logo_background {
	background-color: $fg;
	width: 180px;
	height: 180px;
}

.logo_div {
	background-image: url("assets/logo.jpg");
	width: 160px;
	height: 160px;
	margin: 10px;
}

.rounded {
	border-radius: 160px;
}

.bgl {
	fill: $bgl;
} 

article.bgl {
	background-color: $bgl;
}

svg.bg {
	fill: $bgd;
	background-color: $bgl;
}

article.bgd {
	background-color: $bgd;
}

#projects_span {
	color: $green;
}

#skills_span {
	color: $blue;
}
