@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

$bg: #fbf1c7;
$fg: #3c3836;
$red: #cc243d;

html,body {
	background-color: $bg;
	padding:0;
	margin:0;
}

h1, h2, h3, h4, h5, h6, p {
	font-family: 'Source Sans Pro';
	color: $fg;
}

#name_span {
	color: $red;
	font-weight: 600;
}

#name_span:hover {
	transition: 0.5s;
	text-decoration: underline;
}
